@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
	height: 100%; /* Set height for the root elements */
	margin: 0; /* Remove default margin */
}

p {
	font-family: Roboto, arial;
}

input[name="searchBar"] {
	border-radius: 4px;
	width: 60px;
	transition: width 0.4s ease-in-out;
	margin: 5px 0 5px 30%;
	font-size: 15px;
}

input[name="searchBar"]:focus {
	width: 20%;
}

/* ----------------------------------------------------------------------- HOME ----------------------------------------------------------------------- */

/* General Body Styling */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center; /* Centering the content */
	height: 100%;
}

/* Hero Section Styling */
.HeroSection {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}
/* 
.HeroImage {
	width: 100%;
	height: 100%;
} */

.HeroImage {
	background-image: url("../assets/barbellBench.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

@media (min-width: 768px) {
	.HeroImage {
	background-image: url("../assets/barbellBench.jpg");
	}
}

@media (max-width: 768px) {
	.HeroImage {
		background-image: url("../assets/mobileHeroImage.avif");
	}
}

h1 {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

p {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 60%;
}

.CTAButton {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #007bff;
	color: white;
	padding: 12px 24px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
}

.CTAButton:hover {
	background-color: #0056b3;
}
