.accordionBtn {
  background-color: rgb(77, 191, 191);
  color: black;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.accordionBtn.open {
  background-color: red;
}

.panel {
  display: none;
  padding: 20px;
  background-color: white;
  overflow: hidden;
}

