
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.panelText {
font-family: roboto, arial;
line-height: 3vh;
}

.accordionBtn {
  background-color: rgb(77, 191, 191);
  color: black;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.accordionBtn.open {
  background-color: rgba(182, 225, 250, 0.58);
}

.panel {
  display: none;
  padding: 20px;
  background-color: white;
  overflow: hidden;
}

