<!DOCTYPE html>
<html lang="en">
	<script src="../scripts/index.js"></script>
	<script src="./hamburger.js"></script>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>It's a Gym Thing</title>
		<link rel="stylesheet" href="../styles/styles.css" />
	</head>
	<body>
		<div class="desktop-navbar">
			<a href="../index.html">Home</a>
			<a href="../exercises">Exercises</a>
			<a href="../videos">Videos</a>
			<a href="../FAQs">FAQs & Forums</a>
			<a href="../contact">Contact Us</a>
		</div>
		<button id="hamburgerBtn" class="hamburger">&#9776;</button>
		<div id="mobile-navbar" class="mobile-navbar">
			<a href="../index.html">Home</a>
			<a href="../exercises">Exercises</a>
			<a href="../videos">Videos</a>
			<a href="../FAQs">FAQs & Forums</a>
			<a href="../contact">Contact Us</a>
		</div>
	</body>
</html>
