<!DOCTYPE html>
<html lang="en">
  <script src="../scripts/index.js"></script>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>It's a Gym Thing</title>
		<link rel="stylesheet" href="../styles/styles.css" />
	</head>
	<body>

		<div class="root_navbar">
			<a href="../home">Home</a>
			<a href="../exercises/">Exercises</a>
			<a href="#videosBtn">Videos</a>
			<a href="#FAQBtn">FAQs & Forums</a>
			<a href="#contactUsBtn">Contact Us</a>
		</div>
  
</body>
</html>