.container {
	/* background-color: rgb(228, 137, 137); */
  text-align: center;  
}

.chestExercises {
	display: flex;
  justify-content: center;
  gap: 3%;
}

html {
	margin-top: 60px;
}

body {
	font-size: large;
	font-family: Roboto, arial;
	line-height: 1.4;
}

p {
  font-size: 16px;
	font-family: s
}

.leftVideo {  
  
}

.rightVideo {
  
}

