html {
  margin-top: 50px;
}

.container {
  text-align: center;
  font-weight: lighter !important;
}

.chestExercises {
  justify-content: center;
  gap: 3%;
}

@media (min-width: 800px) {
  .leftVideoContainer {
    display: inline-block;
    max-width: 49%;
    margin-right: 20px;
  }

  .rightVideoContainer {
    display: inline-block;
    max-width: 49%;
  }

  .leftVideo {
    width: 100%;
    height: 350px;
  }

  .rightVideo {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 799px) {
  .leftVideoContainer {
    display: block;
    width: 400px;
    margin-bottom: 50px;
  }

  .rightVideoContainer {
    display: block;
    width: 400px;
  }

  .leftVideo {
    width: 100%;
    height: 225px;
  }

  .rightVideo {
    width: 100%;
    height: 225px;
  }
}

