@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.desktop-navbar,
.mobile-navbar {
	z-index: 2;
	/* overflow: hidden; */
	top: 0;
	width: 100%;
	height: 55px;
	left: 0px;
	display: flex;
	box-sizing: border-box;
}

.desktop-navbar {
	background-color: black;
	margin-bottom: 2px;
	top: 7px;
}

.desktop-navbar a,
.mobile-navbar a {
	float: left;
	display: block;
	color: #ffffff;
	padding: 12px 15px;
	text-decoration: none;
	transition: transform 0.3s ease; /* Smooth transition for the transform */
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.desktop-navbar a:hover,
.mobile-navbar a:hover {
	background: #7f7f7fa8;
	color: rgb(255, 255, 255);
	font-weight: bolder;
}

/* Hamburger icon button */
.hamburger {
	z-index: 999;
	font-size: 40px;
	right: 5px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.hamburger:active {
	transform: scale(0.5);
}

@media (min-width: 800px) {
	.desktop-navbar {
		justify-content: center;
	}

	.mobile-navbar {
		display: none;
	}
}

/* Responsive: Display the hamburger icon on smaller screens */
@media screen and (max-width: 799px) {
	.hamburgerContainer {
		background-color: black;
		width: 100%;
		display: flex;
		justify-content: right;
		margin-bottom: 3px;
	}

	.hamburger {
		display: flex;
	}

	.desktop-navbar {
		display: none;
	}

	.mobile-navbar {
		position: fixed;
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: transparent;
		padding-top: 20px;
		display: none;
	}

	.navbar-links.active {
		display: block;
	}

	.mobile-navbar a {
		padding: 10px;
		text-align: right;
		margin-right: 60px;
		background-color: rgba(0, 0, 0, 0.571);
		align-self: flex-end;
		width: 120px;
	}

	.mobile-navbar > :first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.mobile-navbar > :last-child {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

input[name="searchBar"] {
	border-radius: 4px;
	width: 60px;
	transition: width 0.4s ease-in-out;
	margin: 5px 0 5px 30%;
	font-size: 15px;
}

input[name="searchBar"]:focus {
	width: 20%;
}
